@import "../../../../../styles/main.scss";

.container_a {
  background-color: $on-secondary!important;
  :hover {
    background-color: $primary-light;
    opacity: 0.5;
    transition: opacity 1000 ms ease;
  }
}

.navegacion-list-label, mat-menu-item, mat-icon, button {
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  text-align: justify;
  color: white;
  cursor: pointer;
}