  <mat-toolbar class="spacer">
    <a>
      <button class="navegacion-fuente" mat-icon-button (click)="onMenuToggleDispatch()">
        <mat-icon>menu</mat-icon>
      </button></a>
    <span class="navegacion-fuente">
      <h1 class="navegacion-fuente_h1">Iniciativas Digitales</h1>
    </span>
  
  <!-- Show this for logged in users -->
  <div *appShowAuthed="true">
    <dp-list-container list[]="['home','task','logout','person','settings']"></dp-list-container>
  </div>
  <!-- Show this for logged out users -->
  <div *appShowAuthed="false">
    <dp-list-container list[]="['login', 'sign in']"></dp-list-container>
  </div>

  </mat-toolbar>