@import "../../../../../styles/main.scss";

.spacer {
  flex: 1 1 auto;
  background: $secondary-dark;
  padding: 1 em;
  position: fixed;
  top: 0;
}

.navegacion-fuente {
  color: #ffffff;

  &_h1 {
    font-size: 1.2 em;
    font-weight: bold;
    }
}

.navegacion-menu {
  list-style: none;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  gap: 50 px;
  padding: 0;
  margin: 0;
  background: $secondary-dark;

}